.root {
  position: relative;
  @media (max-width: 1000px) {
    width: 100%;
    order: 3;
    margin-top: 40px;
  }
}

.search {
  width: 100%;
  padding: 12px 25px 12px 35px;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 30px;
}

.icon, .clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.5;
}

.icon {
  left: 10px;
}

.clear {
  right: 20px;
  cursor: pointer;
}